main {
  margin-left: 240px;
  position: relative;
  background: #f1f5f9;
  min-height: 90vh;
  margin-top: 60px;
  padding: 1rem 3rem;
  transition: margin-left 500ms;
}

main.sidebar-close {
  margin-left: 32px;
}

.dash-title {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dashboard__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.card-single {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 2rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.card-footer {
  padding: 0.2rem 1rem;
  background-color: #f9fafc;
}

.card-footer a {
  color: var(--main-color);
}

.recent {
  margin-top: 3rem;
}

.activity-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
  background: #fff;
  border-radius: 7px;
}

.activity-card h3 {
  color: var(--text-grey);
  margin: 1rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}

th,
td {
  font-size: 1rem;
  padding: 1rem 1rem;
  color: var(--color-dark);
}

td {
  font-size: 0.9rem;
}

tbody tr:nth-child(even) {
  background: #f9fafc;
}

.badge {
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
}

.badge.success {
  background: #def7ec;
  color: var(--main-color);
}

.badge.warning {
  background: #f0f6b2;
  color: orange;
}

.td-team {
  display: flex;
  align-items: center;
}

.img-1,
.img-2,
.img-3 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-left: -15px;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.summary-card,
.bday-card {
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.summary-single {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.summary-single span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 2rem;
}

.summary-single h5 {
  color: var(--main-color);
  font-size: 1.1rem;
  /*  margin-bottom: 0rem !important; */
}

.summary-single small {
  font-weight: 700;
  color: var(--text-grey);
}

.bday-flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.bday-card {
  padding: 1rem;
}

.bday-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/2.jpg");
  margin-right: 0.7rem;
}

.text-center {
  text-align: center;
}

.text-center button {
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 0.4rem 1rem;
}

.table-responsive {
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
  main {
    margin-left: 32px;
  }
}

@media only screen and (max-width: 860px) {
  .activity-card h3 {
    padding-top: 1rem;
  }

  .dashboard__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }

  .activity-grid {
    display: block;
  }

  .summary {
    margin-top: 1.5rem;
    /*  display: flex;
   flex-wrap: wrap;
    justify-content: space-between; */
  }

  /* .bday-card,.summary-card {
  padding-left: 3rem;
  padding-right: 3rem;
  } */
}

@media only screen and (max-width: 760px) {
  table {
    width: 617px !important;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard__cards {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
