:host {
  --main-color: #1976d2;
  --bg-color: #f5faff;
  --ng-red: #ff0000;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: #fff;
}

.header {
  padding: 1rem;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
}

.header__title {
  font-size: 1.2rem;
  color: var(--main-color);
}

.welcome {
  padding: 2rem;
  text-align: center;

  background-image: linear-gradient(transparent, var(--bg-color));
}

.background {
  font-size: 12vw;
  font-weight: 900;
  color: var(--ng-red);
  filter: blur(30px);
  line-height: 1rem;
  margin-left: -40px;
}

.welcome__title {
  /* font-size: 2rem; */
  font-size: 8vw;
}

.welcome__title-ngred {
  color: var(--ng-red);
}

.welcome__title-ngblue,
.showcase__title {
  color: var(--main-color);
}

.welcome__description {
  padding: 1rem;
}

.showcase__title {
  text-align: center;
  padding: 1rem;
}

.dashboard__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard__item {
  margin: 1rem 5vw;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
}

.dashboard__image {
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.dashboard__details {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.dashboard__designer {
  font-size: 0.8rem;
}

.dashboard__rating {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

@media only screen and (min-width: 576px) {
  .dashboard__item {
    /* width: 300px;
    margin: 1rem; */
    margin: 1rem 5rem;
  }

  .welcome__title {
    font-size: 7vw;
  }
}

@media only screen and (min-width: 700px) {
  .dashboard__list {
    justify-content: space-evenly;
    margin: 0.5rem 1rem;
  }

  .dashboard__item {
    width: 300px;
    margin: 1rem;
  }

  .welcome__title {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .background {
    filter: blur(45px);
  }
}

@media only screen and (min-width: 992px) {
  .background {
    filter: blur(80px);
  }
}

@media only screen and (min-width: 1200px) {
  .welcome__title {
    font-size: 4.5vw;
  }
}
